@font-face {
  font-family: 'Fliege Mono';
  src: url('@/assets/fonts/fliege-mono/FliegeMono-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fliege Mono';
  src: url('@/assets/fonts/fliege-mono/FliegeMono-Medium.woff2') format('woff2');
  font-weight: 550;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fliege Mono';
  src: url('@/assets/fonts/fliege-mono/FliegerMono-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fliege Mono';
  src: url('@/assets/fonts/fliege-mono/FliegerMono-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fliege Mono';
  src: url('@/assets/fonts/fliege-mono/FliegerMono-ExtraBold.woff2') format('woff2');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rockwell';
  src: url('@/assets/fonts/rockwell/RockwellStd.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rockwell';
  src: url('@/assets/fonts/rockwell/RockwellStd-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Rockwell';
  src: url('@/assets/fonts/rockwell/RockwellStd-Italic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* <p class="font-fliege font-medium">Fliege Mono 500</p>
<p class="font-fliege font-550">Fliege Mono 550</p>
<p class="font-fliege font-semibold">Fliege Mono 600</p>
<p class="font-fliege font-bold">Fliege Mono 700</p>
<p class="font-fliege font-extrabold">Fliege Mono 800</p>
<p class="font-rockwell font-normal">Rockwell 400</p>
<p class="font-rockwell font-normal italic">Rockwell 400 Italic</p>
<p class="font-rockwell font-bold">Rockwell 700</p> */
